    .Focus {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        margin: auto;

        .mainpart {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            border-radius: 10px;
            padding: 40px;
            background-color: rgba(0, 0, 0, 0.1);

            .buttons {
                background-color: transparent;

                button {
                    border: none;
                    color: white;
                    border-radius: 10px;
                    cursor: pointer;
                    background-color: transparent;
                    margin: 0px 15px;
                    font-size: 15px
                }
            }

            .buttonmain {
                color: tomato;
                background-color: white;
                padding: 30px 100px;
                border: none;
                border-radius: 10px;
                font-size: 30px;
                font-weight: bold;
                cursor: pointer;
            }

            .timer {
                color: white;
                font-size: 150px;
                background-color: transparent;
            }

        }

        .counter {
            color: white;
        }

        .Timesay {
            color: white;
        }
    }